@import "../../sassStyles/variables";

$speed: 250ms;
$offset: 1rem;

.dropdown {
	// Positioning
	position: absolute;
	z-index: 10;
	&.over {
		bottom: 100%;
		transform: translateY(-$offset);
	}

	&.under {
		top: 100%;
		transform: translateY($offset);
	}

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}

	// Structure
	min-width: 100%;
	max-width: 300px;
	overflow: hidden;
	border-radius: $content-border-radius;
	user-select: none;

	// Style
	background-color: var(--dropdown-background);
	box-shadow: 0px 0px 8px 0px var(--dropdown-box-shadow);
	transition: height 0.2s ease;
	animation: fade-in 0.2s ease-out;

	@keyframes fade-in {
		0% {
			opacity: 0;
			transform: translateY(0rem);
		}
		75% {
			opacity: 1;
		}
		100% {
			&.over {
				transform: translateY(-$offset);
			}
			&.under {
				transform: translateY($offset);
			}
		}
	}
	@keyframes fade-out {
		0% {
			opacity: 1;
			&.over {
				transform: translateY($offset);
			}
			&.under {
				transform: translateY(-$offset);
			}
		}
		75% {
			transform: translateY(0);
		}
		100% {
			opacity: 0;
		}
	}
}
