@import "../../sassStyles/variables";

$speed: 250ms;
$offset: 1rem;

.dropdown {
	// Positioning
	position: absolute;
	z-index: 15;
	&.over {
		bottom: 100%;
		transform: translateY(-$offset);
	}

	&.under {
		top: 100%;
		transform: translateY($offset);
	}

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}
	// Structure
	min-width: 100%;
	overflow: hidden;
	// Style
	user-select: none;
	border: 1px solid var(--border-primary);
	border-radius: 1rem;
	background-color: var(--dropdown-background);
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
	transition: height 0.2s ease;
	&.open {
		opacity: 1;
		animation: fade-in 0.2s ease-out;
		pointer-events: all;
	}
	&.closed {
		opacity: 0;
		animation: fade-out 0.2s ease-out;
		pointer-events: none;
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
			transform: translateY(0rem);
		}
		75% {
			&.over {
				transform: translateY(-$offset);
			}
			&.under {
				transform: translateY($offset);
			}
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fade-out {
		0% {
			opacity: 1;
			&.over {
				transform: translateY($offset);
			}
			&.under {
				transform: translateY(-$offset);
			}
		}
		75% {
			transform: translateY(0);
		}
		100% {
			opacity: 0;
		}
	}
}
