@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.profile {
	user-select: none;
	width: 100%;
	display: flex;
	flex-direction: column;
	.profileHead {
		background-color: var(--content-background);
		border: 1px solid var(--content-border);
		border-radius: 0.5rem;
		display: grid;
		padding: 1rem;
		margin-bottom: 1rem;
		.details {
			display: flex;
			margin-bottom: 1rem;
			.left {
				.pfp {
					width: 4rem;
					height: 4rem;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 0.2rem;
					}
				}
			}
			.right {
				margin-left: 1rem;
				color: var(--text-title);
				.username {
					font-size: 1.4rem;
					font-weight: 600;
				}
			}
		}
		.control {
			display: flex;
			.editButton {
				cursor: pointer;
				background-color: var(--blue);
				color: white;
				border-radius: 1rem;
				padding: 0.5rem 1rem;
				margin: 0rem 0.5rem;
				width: 100%;
			}
		}
	}
	.profileContent {
		user-select: none;
		display: flex;
		flex-direction: column;
		width: 100%;
		border: 1px solid var(--content-border);
		border-radius: 0.5rem;
		background-color: var(--content-background);
		padding: 1rem;
	}
}
