@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	.profileHead {
		background-color: blue;
		user-select: none;
		display: flex;
		flex-direction: column;
		width: 100%;
		border: 1px solid $border-primary;
		margin-bottom: 2rem;
		border-radius: 1rem;
		background-color: $post-background;
	}
	.profileContent {
		background-color: blueviolet;
		user-select: none;
		display: flex;
		flex-direction: column;
		width: 100%;
		border: 1px solid $border-primary;
		margin-bottom: 2rem;
		border-radius: 1rem;
		background-color: $post-background;
	}
}
