@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	.loadingElipses {
		div {
			background-color: var(--text-title);
		}
	}
}

.chatPage {
	width: 100%;
	height: fit-content;
	background-color: var(--content-background);
	border: 1px solid var(--content-border);
	border-radius: $content-border-radius;
	padding: 1rem;
	margin-top: 1rem;

	.title {
		color: var(--text-title);
	}

	.chatRooms {
		padding: 1rem 0rem;

		&:empty {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			&::before {
				content: "You haven't started any chats yet.";
				font-size: 1.4rem;
				color: var(--text-title);
				margin-bottom: 1rem;
			}
		}
	}
}
