@import "../../sassStyles/variables";

.loading {
	background-color: var(--content-background);
	width: 100%;
	display: flex;
	justify-content: center;
	border: 1px solid var(--content-border);
	border-radius: $content-border-radius;
	.loadingElipses {
		div {
			background-color: var(--text-title);
		}
	}
}

.grid {
	background-color: var(--content-background);
	border: 2px solid var(--content-border);
	border-radius: $content-border-radius;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2px;
	margin-bottom: 1rem;
}

.feed,
.grid {
	&:empty {
		display: flex;
		justify-content: center;
		padding: 1rem;
		background-color: var(--content-background);
		border: 1px solid var(--content-border);
		border-radius: $content-border-radius;
		&::after {
			content: "Looks empty here...";
			color: var(--text-title);
		}
	}
}
