@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.item {
	cursor: pointer;
	user-select: none;
	position: relative;
	color: var(--nav-item-foreground);
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
	transition: background-color 0.1s ease-out;
	border-radius: 50%;
	width: 4rem;
	padding: 1rem;
	@include breakpoint(lg) {
		border-radius: 2rem;
		padding: 1rem 2rem;
		width: 100%;
		height: 100%;
	}
	.content {
		display: flex;
		gap: 1rem;
		width: 100%;
		justify-content: center;
		@include breakpoint(lg) {
			justify-content: flex-start;
		}
		.icon {
			height: 2rem;
			width: 2rem;
			svg {
				height: 2rem;
				width: 2rem;
			}
		}
		.label {
			overflow-x: hidden;
			text-overflow: ellipsis;
			display: none;
			@include breakpoint(lg) {
				display: block;
			}
		}
	}
	@media (hover: hover) {
		&:hover {
			background-color: var(--nav-item-background-hover);
			.content {
				color: var(--nav-item-foreground-hover);
			}
		}
	}
}
