.pfp {
	cursor: pointer;
	display: flex;
	width: 2rem;
	height: 2rem;
	img {
		min-width: 2rem;
		width: 2rem;
		max-width: 2rem;
		height: 2rem;
		object-fit: cover;
		border-radius: 25%;
		// border: 1px solid var(--content-border);
		transition: border-radius 0.2s ease;
	}

	.placeholder {
		padding: 4px;
		width: 2rem;
		height: 2rem;
		transition: padding 0.2s ease-out;
		color: var(--text-title);
	}
}
