@import "../../../../sassStyles/variables";

.members {
	display: flex;
	flex-direction: column;
	.title {
		color: var(--text-title);
		padding: 1rem;
		border-bottom: 1px solid var(--content-border);
		margin-bottom: 0rem;
	}
	.member {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		border-bottom: 1px solid var(--content-border);
		&:last-child {
			border-bottom: none;
		}

		.info {
			display: flex;
			align-items: center;
			.pfp {
				display: flex;
				margin-right: 1rem;
				color: var(--text-title);
				img,
				svg {
					width: 2rem;
					height: 2rem;
					object-fit: cover;
					border-radius: 50%;
				}
			}
			.username {
				color: var(--text-title);
				font-weight: 600;
			}
		}

		.controls {
			display: flex;
			align-items: center;

			.item {
				color: var(--text-title);
			}
		}
	}
}
