@import "../../sassStyles/mixins";

.main {
	width: 100%;
	display: flex;
	justify-content: center;

	header {
		@include breakpoint(xs) {
			display: none;
		}
	}

	// Fill remaining area
	> .content {
		padding: 1rem 0rem;
		overflow: hidden;
		width: 576px;
		max-width: 576px;
		flex-grow: 1;
		display: flex;
		justify-content: center;
	}
}
