@import "../../sassStyles/variables";

.item {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 1rem;
	border-radius: 1rem;
	white-space: nowrap;
	color: var(--text);
	font-weight: 500;
	transition: background-color 0.2s ease-out;

	.left {
		margin-right: 1rem;
	}

	.label {
		margin-right: 1rem;
	}

	.right {
		margin-left: auto;
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--dropdown-item-hover);
		}
	}
}
