@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

$userInputHeight: 5.5rem;

.chatRoom {
	width: 100%;
	position: relative;
	margin-bottom: $userInputHeight;
	margin-top: $navbar-height;

	.content {
		padding: 1rem;
	}

	.header,
	.userInput {
		@include breakpoint(sm) {
			display: block;
			width: $max-content-width;
			left: auto;
			right: auto;
			box-shadow: none;
			// border: 1px solid var(--content-border);
		}
	}

	.userInput {
		height: $userInputHeight;
		form {
			width: 100%;
			> * {
				width: 100%;
			}
		}
	}
}
