@import "../../sassStyles/mixins";

.main {
	display: flex;
	flex-grow: 1;
	overflow: hidden;
	div:first-of-type {
		transition: 0.2s ease-out;
	}
	@include breakpoint(xs) {
		width: 100%;
		div:first-of-type {
			max-width: $breakpoint-md - $sidebar-md;
		}
	}
	@include breakpoint(sm) {
		width: $breakpoint-sm - $sidebar-sm;
		div:first-of-type {
			max-width: $breakpoint-sm - $sidebar-sm;
		}
	}
	@include breakpoint(md) {
		width: $breakpoint-sm;
		// width: $breakpoint-md - $sidebar-md;
		div:first-of-type {
			max-width: $breakpoint-sm;
			// max-width: $breakpoint-md - $sidebar-md;
		}
	}
	@include breakpoint(lg) {
		width: $breakpoint-sm;
		// width: $breakpoint-lg - $sidebar-lg;
		div:first-of-type {
			max-width: $breakpoint-sm;
			// max-width: $breakpoint-lg - $sidebar-lg;
		}
	}
}
