@import "../../sassStyles/mixins";

.main {
	display: flex;
	flex-grow: 1;
	background-color: var(--color-page-background);
	overflow: hidden;
	div:first-of-type {
		transition: 0.2s ease-out;
	}
	@include breakpoint(xs) {
		min-width: 0;
		div:first-of-type {
			max-width: $breakpoint-md - $sidebar-md;
		}
	}
	@include breakpoint(sm) {
		width: $breakpoint-sm - $sidebar-sm;
		div:first-of-type {
			max-width: $breakpoint-sm - $sidebar-sm;
		}
	}
	@include breakpoint(md) {
		width: $breakpoint-md - $sidebar-md;
		div:first-of-type {
			max-width: $breakpoint-md - $sidebar-md;
		}
	}
	@include breakpoint(lg) {
		width: $breakpoint-lg - $sidebar-lg;
		div:first-of-type {
			max-width: $breakpoint-lg - $sidebar-lg;
		}
	}
}
