@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.sidebar {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	@include breakpoint(xs) {
		transition: 0s;
		min-width: $sidebar-xs;
		width: $sidebar-xs;
	}
	@include breakpoint(sm) {
		min-width: $sidebar-sm;
		width: $sidebar-sm;
	}
	@include breakpoint(md) {
		min-width: $sidebar-md;
		width: $sidebar-md;
	}
	@include breakpoint(lg) {
		min-width: $sidebar-lg;
		width: $sidebar-lg;
	}
	.banner {
		// Fix to top
		position: fixed;
		top: 0;
		width: inherit;
		height: 100%;
		background-color: $body-background;
		z-index: 1;
		// Styling
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow-x: visible;
	}
}
