@import "../../../../sassStyles/variables";

.profileBody {
	.viewSelector {
		border: 1px solid var(--content-border);
		border-radius: $content-border-radius;
		background-color: var(--content-background);
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 1rem;

		> .view {
			user-select: none;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			width: 100%;
			border-right: 1px solid var(--content-border);
			color: var(--text-title);
			&:last-of-type {
				border-right: none;
			}
			&:active {
				padding-top: 1.1rem;
				padding-bottom: 0.9rem;
			}
		}
	}

	.content {
		margin-bottom: 1rem;
		&.grid {
			background-color: var(--content-background);
			border: 2px solid var(--content-border);
			border-radius: $content-border-radius;
			overflow: hidden;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 2px;
		}
		&.feed {
			display: flex;
			flex-direction: column;
		}
	}
}
