@import "../../sassStyles/variables";
.menu {
	width: 100%;
	min-width: 300px;
	padding: 1rem;
	> * {
		padding: 1rem;
	}

	// Setup dropdown titles
	> h1,
	> h2,
	> h3,
	> h4 {
		color: var(--text);
	}
}
