@import "../../../../sassStyles/variables";

.create {
	color: var(--text);

	.captionInput {
		resize: none;
	}

	.postButton {
		width: 100%;
		margin: 1rem 0rem;
		font-weight: 500;
		padding: 1rem;
	}
}

.loading {
	background-color: var(--content-background);
	width: 100%;
	display: flex;
	justify-content: center;
	border: 1px solid var(--content-border);
	border-radius: $content-border-radius;
	margin-bottom: 1rem;
	.loadingElipses {
		div {
			background-color: var(--text-title);
		}
	}
}
