.create {
	color: var(--text);

	.postButton {
		cursor: pointer;
		margin: 1rem 0rem;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 1rem;
		border-radius: 0.5rem;
		color: var(--button-foreground-primary);
		background-color: var(--button-background-primary);
	}
}
