@import "../../../../sassStyles/variables";

.messages {
	display: flex;
	flex-direction: column-reverse;
	.message {
		display: flex;
		flex-direction: column;

		padding: 1rem;
		margin-bottom: 1rem;
		border-radius: $content-border-radius;
		max-width: 50ch;

		.username {
			font-weight: 600;
		}

		&.otherMessage {
			background-color: var(--chat-message-other-bg);
			color: var(--chat-message-other-fg);
			margin-right: auto;
			border-bottom-left-radius: 0rem;
		}

		&.myMessage {
			background-color: var(--chat-message-my-bg);
			color: var(--chat-message-my-fg);
			margin-left: auto;
			.username {
				display: none;
			}
			border-bottom-right-radius: 0rem;
		}
	}
}

.loading {
	display: flex;
	justify-content: center;
	.loadingElipses {
		div {
			background-color: var(--text-title);
		}
	}
}
