@import "./variables";
@import "./themes";

// Setup
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;

	&::selection {
		color: white;
		background-color: var(--gray2);
	}
}

a {
	text-decoration: none !important;
	color: $primary;
	-webkit-tap-highlight-color: transparent;
}

img {
	user-select: none;
	-webkit-user-drag: none;
}

body {
	user-select: none;
	background-color: var(--page-background) !important;
	line-height: 1.5;
	transition: background-color 0.4s ease-out;

	// Prevent background transition on page load
	animation: fade-in 0.4s ease-out;

	@keyframes fade-in {
		from {
			background-color: var(--page-background);
		}
		to {
			background-color: var(--page-background);
			transition: none;
		}
	}
}

span {
	font-size: 1rem;
}

// Bootstrap override
.btn {
	&-secondary {
		color: white;
	}
}

// Global Components
.hw-logo {
	font-family: Tajawal-Bold;
}

.username {
	cursor: pointer;
	font-weight: 600;
	color: var(--username);
}

.username:hover {
	text-decoration: underline;
	color: var(--username);
}

// Bootstrap components
@import "./bootstrap";
