// Structure Colors
:root {
	--white: #ffffff;
	--gray0: #f2f4f3;
	--gray1: #b6b8ba;
	--black: #000000;

	// Theme Colors
	--blue: #273469;
	--red: #e84855;
	--yellow: #f9dc5c;
	--green: #28502e;
}

// Setup
:root {
	--page-background: var(--gray0);
	--post-background: var(--white);
	--border-primary: var(--gray1);
	--text-title: var(--blue);
	--text-primary: var(--black);
	--text-secondary: var(--gray1);
	--nav-item-background-hover: var(--blue);
	--nav-item-foreground: var(--blue);
}

.light {
	--page-background: var(--gray0);
	--post-background: var(--white);
	--border-primary: var(--gray1);
	--text-title: var(--blue);
	--text-primary: var(--black);
	--text-secondary: var(--gray1);
	--nav-item-background-hover: var(--blue);
	--nav-item-foreground: var(--blue);
	--dropdown-background: var(--white);
}

.dark {
	--page-background: var(--black);
	--post-background: var(--gray1);
	--border-primary: var(--white);
	--text-title: var(--blue);
	--text-primary: var(--white);
	--text-secondary: var(--white);
	--nav-item-background-hover: var(--blue);
	--nav-item-foreground: var(--white);
	--dropdown-background: var(--gray1);
}
