// Structure Colors
:root {
	--white0: #ffffff;
	--gray0: #f2f4f3;
	--gray1: #d8dbdd;
	--gray2: #b6b8ba;
	--gray2: #505253;
	--black0: #000000;
	--black1: #07020d;

	// Theme Colors
	--blue: #273469;
	--gray: #7e8287;
	--red: #e84855;
	--yellow: #f9dc5c;
	--green: #28502e;
}

.light {
	// General
	--username: var(--blue);
	--loading: var(--blue);

	// Text
	--text: var(--black0);
	--text-secondary: var(--gray2);
	--text-title: var(--blue);

	// Page
	--page-background: var(--gray0);

	// Navbar
	--navbar-background: var(--white0);
	--navbar-color: var(--blue);
	--nav-item-background-hover: var(--blue);
	--nav-item-foreground: var(--blue);
	--nav-item-foreground-hover: var(--white0);

	// Content
	--content-background: var(--white0);
	--content-border: var(--gray1);
	--content-hover: var(--gray1);

	// Dropdown
	--dropdown-background: var(--white0);
	--dropdown-box-shadow: rgba(0, 0, 0, 0.2);
	--dropdown-item-hover: var(--gray1);

	// Button
	--button-background-primary: var(--blue);
	--button-foreground-primary: var(--white0);
	--button-background-secondary: var(--gray2);
	--button-foreground-secondary: var(--white0);

	// Input
	--input-box-shadow: rgba(39, 52, 105, 0.2);

	// Auth
	--auth-body-background: var(--blue);
	--auth-form-background: var(--gray0);
	--auth-box-shadow: rgba(0, 0, 0, 0.4);
	--auth-text: var(--black0);
	--auth-text-title: var(--blue);
}

.dark {
	// General
	--username: var(--white0);
	--loading: var(--blue);

	// Text
	--text: var(--white0);
	--text-secondary: var(--gray2);
	--text-title: var(--white0);

	// Page
	--page-background: var(--black1);

	// Navbar
	--navbar-background: var(--black1);
	--navbar-color: var(--white0);
	--nav-item-background-hover: var(--blue);
	--nav-item-foreground: var(--white0);
	--nav-item-foreground-hover: var(--white0);

	// Content
	--content-background: var(--black0);
	--content-border: var(--white0);
	--content-hover: var(--gray2);

	// Dropdown
	--dropdown-background: var(--black0);
	--dropdown-box-shadow: rgba(255, 255, 255, 0.8);
	--dropdown-item-hover: var(--gray2);

	// Button
	--button-background-primary: var(--blue);
	--button-foreground-primary: var(--white0);
	--button-background-secondary: var(--gray2);
	--button-foreground-secondary: var(--white0);

	// Input
	--input-box-shadow: rgba(153, 161, 184, 0.8);

	// Auth
	--auth-body-background: var(--gray2);
	--auth-form-background: var(--gray0);
	--auth-box-shadow: rgba(0, 0, 0, 0.4);
	--auth-text: var(--black0);
	--auth-text-title: var(--blue);
}
