// Structure Colors
$struct-black: #000000;
$struct-dark: #b6b8ba;
$struct-light: #f2f4f3;
$struct-white: #ffffff;

// Theme Colors
$primary: #273469;
$danger: #e84855;
$warning: #f9dc5c;
$info: #3185fc;
$success: #28502e;

// Setup

$body-background: $struct-light;

$post-background: $struct-white;

$text-primary: $struct-black;

$border-primary: $struct-dark;
