@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

$speed: 500ms;

.popup-menu {
	width: 100%;
	.popup-menu-item {
		width: 100%;
		padding: 0.5rem;
		display: flex;
		justify-content: space-between;
		.icon {
			color: $primary;
		}
	}
}
