@import "../../sassStyles/variables";

.post {
	user-select: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 2rem;
	border-radius: $content-border-radius;
	border: 1px solid var(--content-border);
	background-color: var(--content-background);

	// Top of post
	.head {
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		.section {
			color: var(--text-title);
			display: flex;
			align-items: center;

			> * {
				margin-right: 1rem;
			}
			> *:last-child {
				margin-right: 0rem;
			}
			.options {
				cursor: pointer;
				position: relative;
				display: flex;
				align-items: center;
				width: 100%;
				.icon {
					display: flex;
					align-items: center;
					height: 2rem;
					width: 2rem;
					> svg {
						height: 100%;
						width: 100%;
					}
				}
			}
		}
	}

	// Middle of post
	.body {
		display: flex;
		width: 100%;
		.content {
			display: flex;
			width: 100%;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}

	// Bottom of post
	.foot {
		padding: 1rem;
		.details {
			.username {
				margin-right: 0.5rem;
			}
			.caption {
				color: var(--text);
				line-height: 1.5;
			}
		}
	}
}
