@import "../../sassStyles/variables";

.post {
	user-select: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid $border-primary;
	margin-bottom: 2rem;
	border-radius: 1rem;
	background-color: $post-background;

	// General components
	.username {
		cursor: pointer;
		font-weight: 600;
		color: $primary;
	}

	.username:hover {
		text-decoration: underline;
	}

	.pfp {
		cursor: pointer;
		width: 2rem;
		height: 2rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
			transition: 0.2s ease-out;
		}
		img:hover {
			border-radius: 25%;
		}
	}

	// Top of post
	.head {
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		.section {
			display: flex;
			align-items: center;
			.pfp {
				margin-right: 1rem;
			}
			.timestamp {
				color: $primary;
				font-weight: 400;
			}
		}
	}

	// Middle of post
	.body {
		display: flex;
		width: 100%;
		.content {
			display: flex;
			width: 100%;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}

	// Bottom of post
	.foot {
		padding: 1rem;
		.details {
			.username {
				margin-right: 0.5rem;
			}
			.caption {
				line-height: 1.5;
			}
		}
		// PostComments
		.comments {
			margin-top: 1rem;
			.header {
				padding: 1rem;
				border-top: 1px solid $border-primary;
				font-weight: 600;
				color: $primary;
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				.arrow {
					transition: 0.2s ease-out;
				}
			}
			.section {
				padding: 1rem;
				padding-bottom: 0;
				.list {
					display: flex;
					flex-direction: column;
					.comment {
						padding: 1rem 0rem;
						border-bottom: 1px solid $border-primary;
					}
					.show-more {
						cursor: pointer;
						color: $primary;
						font-weight: 600;
						padding: 1rem 0rem;
					}
				}
			}
			.compose {
				display: flex;
				flex-direction: column;
				textarea {
					resize: none;
					margin-bottom: 1rem;
					height: 100%;
					transition: 0.4s ease-out;
				}

				button {
					cursor: pointer;
					margin-bottom: 1rem;
					transition: 0.2s ease-out;
				}
			}
		}
		.comments.collapsed {
			.section {
				display: none;
			}
			.header {
				.arrow {
					transform: rotate(180deg);
				}
			}
		}
	}
}
