@import "../../../../sassStyles/variables";

.chatRoomDetails {
	.backButton {
		cursor: pointer;
		margin-right: 1rem;
	}
	.details {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.roomName {
			height: fit-content;
			font-size: 1.4rem;
			font-weight: 600;
		}

		.roomImage {
			img,
			svg {
				width: 2rem;
				height: 2rem;
				object-fit: cover;
				border-radius: 50%;
			}
		}
	}
}
