#imgInput {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.container {
	touch-action: none;
	user-select: none;
	width: 100%;
	display: flex;
	flex-direction: column;

	#imgInput + label {
		width: 100%;
		margin: 1rem 0rem;
		font-weight: 500;
		padding: 1rem;
	}

	#canvas {
		cursor: move;
		border-radius: 0.5rem;
		touch-action: none;
	}
	#slider {
		margin: 1rem 0rem;
		display: none;
	}
	#slider.active {
		display: block;
	}
	#slider label {
		color: var(--text);
	}
	#slider input {
		padding: 2rem 0rem;
	}
}
