/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

$thumb-height: 36px;
$thumb-width: 16px;
$thumb-border-color: var(--blue);
$thumb-border-width: 1px;
$thumb-border-radius: 0.5rem;
$thumb-background: var(--white0);
$thumb-shadow: var(--black0);

$track-height: 8px;
$track-width: 100%;
$track-border-color: var(--blue);
$track-border-width: 0.2px;
$track-border-radius: 0.5rem;
$track-background: var(--blue);
$track-shadow: var(--black0);

input[type="range"].slider {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */

	// #region Setup
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
	}

	&:focus {
		outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
	}

	&::-ms-track {
		width: 100%;
		cursor: pointer;

		/* Hides the slider so custom styles can be added */
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

	// #endregion

	// #region Thumb

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: $thumb-border-width solid $thumb-border-color;
		height: $thumb-height;
		width: $thumb-width;
		border-radius: $thumb-border-radius;
		background: $thumb-background;
		cursor: pointer;
		margin-top: -($thumb-height / 2); /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
		box-shadow: 1px 1px 1px $thumb-shadow, 0px 0px 1px $thumb-shadow; /* Add cool effects to your sliders! */
	}

	/* All the same stuff for Firefox */
	&::-moz-range-thumb {
		box-shadow: 1px 1px 1px $thumb-shadow, 0px 0px 1px $thumb-shadow;
		border-radius: $thumb-border-radius;
		height: $thumb-height;
		width: $thumb-width;
		border-radius: $thumb-border-radius;
		background: $thumb-background;
		cursor: pointer;
	}

	&::-ms-thumb {
		box-shadow: 1px 1px 1px $thumb-shadow, 0px 0px 1px $thumb-shadow;
		border-radius: $thumb-border-radius;
		height: $thumb-height;
		width: $thumb-width;
		border-radius: $thumb-border-radius;
		background: $thumb-background;
		cursor: pointer;
	}

	// #endregion

	// #region track
	&::-webkit-slider-runnable-track {
		width: $track-width;
		height: $track-height;
		box-shadow: 1px 1px 1px $track-shadow, 0px 0px 1px $track-shadow;
		background: $track-background;
		border-radius: $track-border-radius;
		border: $track-border-width solid $track-border-color;
		cursor: pointer;
	}

	&::-moz-range-track {
		width: $track-width;
		height: $track-height;
		box-shadow: 1px 1px 1px $track-shadow, 0px 0px 1px $track-shadow;
		background: $track-background;
		border-radius: $track-border-radius;
		border: $track-border-width solid $track-border-color;
		cursor: pointer;
	}

	&::-ms-track {
		width: $track-width;
		height: $track-height;
		background: $track-background;
		border-radius: $track-border-radius;
		border: $track-border-width solid $track-border-color;
		cursor: pointer;
	}

	&::-ms-fill-lower {
		background: $track-background;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-border-radius;
		box-shadow: 1px 1px 1px $track-shadow, 0px 0px 1px $track-shadow;
	}

	&:focus::-ms-fill-lower {
		background: $track-background;
	}

	&::-ms-fill-upper {
		background: $track-background;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-border-radius;
		box-shadow: 1px 1px 1px $track-shadow, 0px 0px 1px $track-shadow;
	}

	&:focus::-ms-fill-upper {
		background: $track-background;
	}
	// #endregion
}
